<div class="page-header">
  <h1>Favorite #<%= @favorite.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Photo</dt>
  <dd><%= @favorite.photo_id %></dd>


  <dt>User</dt>
  <dd><%= @favorite.user_id %></dd>


</dl>
