<div class="page-header">
  <h1>Photo #<%= @photo.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Image url</dt>
  <dd><%= @photo.image_url %></dd>


  <dt>Caption</dt>
  <dd><%= @photo.caption %></dd>


  <dt>User</dt>
  <dd><%= @photo.user_id %></dd>


</dl>
